link:focus-visible
h1 {font-size: 30px;}  
h1 {color: darkred;}
h1:hover {color: crimson;}
h1{text-align: center;}
h4 {color: darkred;}
img {border-radius: 10px;}
img {border: 5px solid darkred;}
p{font-size: 36px;}
p{color:darkred}
li {font-size: 20px;}
li {color: darkred;}
body {background-color: lightpink;} +